header {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 99px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header > nav {
    width: 580px;
}
.logo {
    width: 200px;
    height: 55px;
    margin: 0 40px;
    z-index: 5;
}
.shopping-cart {
    color: black;
    text-decoration: none;
    order: 3;
    margin: 0 40px 0 0;
}
@media only screen and (max-width: 600px) {
    header {
        flex-wrap: nowrap;
        justify-content: space-between;

    }
    header > nav {
        display: none;
    }
    .logo {
        margin: 0 !important;
        order: 2;
    }
}
@media only screen and (min-width: 601px) {
    .shopping-cart {
        display: none;
    }
}
