
main {
    width: 100%;
}
.hero {
    min-height: 477px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 100px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
}
.hero .title {
    color: var(--primary-color2);
    white-space: nowrap;
}
.hero .sub-title {
    color: white;
}
.hero .lead {
    color: var(--highlight1)
}
.hero .image-container  img{
    display: none;
}
.hero .image-container img:nth-child(2) {
    display: block !important;
}
@media only screen and (max-width: 601px) {
    .hero {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 100px;
    }
    .hero .title-container {
        grid-column: span 2 ;
        padding: 40px 0;
    }
    .hero .lead {
        margin-right: 10%;
    }
    .hero .image-container {
        justify-self: stretch;
        align-self: stretch;
        padding: 5px;
    }
    .hero .image-container img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .hero .reserve {
        grid-column: span 2;
    }
}
@media only screen and (min-width: 601px) {
    .hero .image-container {
        grid-row: span 3;
        display: flex;
        justify-content: center;
        flex-flow: wrap row;
    }
    .hero .image-container img{
        display: block;
        margin: 6px;
        max-width: 100%;
    }
    .hero .image-container img:nth-child(-n + 3) {
        align-self: flex-end;
    }
    .hero .image-container img:nth-last-child(-n + 3) {
        align-self: flex-start;
    }
    @media only screen and (max-width: 867px) {
        .hero .image-container img:nth-last-child(1) {
            display: none;
        }
    }
    @media only screen and (max-width: 790px) {
        .hero .image-container img:nth-child(1) {
            display: none;
        }
    }
    @media only screen and (max-width: 777px) {
        .hero .image-container img:nth-child(4) {
            display: none;
        }
    }
    @media only screen and (max-width: 670px) {
        .hero .image-container img:nth-child(3) {
            display: none;
        }
    }

}
.order {
    min-height: 550px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.order .order-header {
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.order .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order .card {
    margin-bottom: 20px;
}
@media only screen and (max-width: 670px) {
    .order .order-header {
        margin-top: 20px;
        flex-flow: column;
        justify-content: space-around;
    }

    .order .order-header > h1{
        width: 100%;
    }
}
@media only screen and (max-width: 860px) {
    .order .card-container {
        justify-content: center !important;
        flex-flow: column !important;
    }
}
.reviews {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.reviews h1 {
    margin: 50px 0;
}
.reviews .comments {
    background: linear-gradient(
        to bottom,
        var(--highlight1) 50%,
        white 50%
      );
    border-radius: 16px;
    margin-bottom: 50px;
}
.about-us .about-header {
    height: 194px;
    display: flex;
    align-items: center;
}
.about-us .about-header::after {
    content: " ";
    background-color: var(--primary-color1);
    height: 194px;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: -1;
}
.about-us .about-header img{
    margin-right: 35px;
}
.about-us .about-header h1 {
    color: var(--primary-color2);
}
.about-us .about-header h2 {
    color: white;
}
@media only screen and (max-width: 852px) {
    .about-us .about-container {
        display: flex !important;
        justify-content: center;
        flex-flow: column nowrap;
    }
    .about-us .about-container img {
        object-fit: cover;
        max-width: 100%;
    }
    .about-us .about-container img:nth-child(2){
        order: -1;
    }
    .about-us .about-container img:nth-child(3){
        order: 0;
    }
}
.about-us .about-container {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
}
.about-us .about-container p {
    grid-column: span 2;
    text-align: justify;
    padding: 20px;
}



