

.comment-container {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto 172px;
    align-items: center;
    justify-items: start;
    border-radius: 16px;
}
.comment-container img {
    justify-self: center;
}
.stars-container > *{
    color: var(--primary-color2);
    margin-right: 5.5px;
}